<?php

/**
 * Copyright © Vaimo Group. All rights reserved.
 * See LICENSE_VAIMO.txt for license details.
 */

/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>

<div>
    <h1><?= $escaper->escapeHtml($block->getName()) ?></h1>
</div>
