<?php

/**
 * Copyright © Vaimo Group. All rights reserved.
 * See LICENSE_VAIMO.txt for license details.
 */

declare(strict_types=1);

?>

<?php if ('a' === 'b'): ?>
    <h1>Hello, World!</h1>
    <?php if ('b' === 'a'): ?>
        <p>Test</p>
    <?php endif; ?>
<?php endif; ?>
